* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SFDisplayPro-Medium;
  src: url("fonts/SFProDisplay/SF-Pro-Display-Light.otf");
}
html {
  font-family: SFDisplayPro-Medium;
  background-color: bisque;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

h1 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

.container,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 5%;
}

.card {
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: aliceblue;
  justify-content: center;
}

li {
  margin: 1em 0;
}
